
services:
  frontend:
    build:
      context:  .
      dockerfile: ./Docker/frontend.dockerfile
      args:
        DATABASE_URL: "postgresql://postgres:postgres@db:5432"
    ports:
    - "3000:3000"
    environment:
    - DATABASE_URL= postgresql://postgres:postgres@db:5432
    depends_on: 
    - db
  
  backend:
    build:
      context:  .
      dockerfile: ./Docker/backend.dockerfile
    ports:
    - "3002:3002"
    environment:
    - DATABASE_URL= postgresql://postgres:postgres@db:5432
    depends_on: 
    - db
  
  ws:
    build:
      context:  .
      dockerfile: ./Docker/ws-backend.dockerfile
    ports:
    - "8081:8081"
    environment:
    - DATABASE_URL= postgresql://postgres:postgres@db:5432
    depends_on: 
    - db

  db:
    image:  postgres
    environment:  
      - POSTGRES_PASSWORD=postgres
    volumes:
    - postgres_data:/var/lib/postgres/data

volumes:
  postgres_data:



